
.container {
    padding-left: calc(50% - 560px);
    padding-right: calc(50% - 560px);
}

.top-container {
    margin: 20px;
}

.header {
    height: 550px;
    background-image: url("header_image.png");
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255);;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.header__content {
    text-align: center;
}

.header__heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
}

.navigation {
    height: 80px;
    background-color: rgb(84, 116, 253);
    display: flex;
}

.navigation__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navigation__content h2 {
    color: white;
}

.navigation__items__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

.navigation__item {
    font-family: 'Aleo', serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 24px;
    list-style-type: none;
}

input[type="search"]::placeholder {
    font-size: 14px;
    text-align: center;
    color: rgb(153, 153, 153);
}

.search__button {
    font-family: 'Aleo', serif;
    color: white;
    font-size: 14px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(84, 116, 253);
    width: 146px;
    height: 56px;
}

.search__input {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 60px;
}

.steps {
    background: rgb(76, 76, 76);

}

.steps .content{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.choose {
    height: 580px;
    background-image: url("whychoose.png");
    background-repeat: no-repeat;
    background-size: cover;
}

